server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: order-service
          uri: http://order-service:8082
          predicates:
            - Path=/api/orders/**
        - id: inventory-service
          uri: http://inventory-service:8083
          predicates:
            - Path=/api/inventory/**
        - id: notification-service
          uri: http://notification-service:8084
          predicates:
            - Path=/api/notifications/**
        - id: order-service-docs
          uri: http://order-service:8082
          predicates:
            - Path=/order-service/v3/api-docs
          filters:
            - RewritePath=/order-service/(?<segment>.*), /$\{segment}
        - id: inventory-service-docs
          uri: http://inventory-service:8083
          predicates:
            - Path=/inventory-service/v3/api-docs
          filters:
            - RewritePath=/inventory-service/(?<segment>.*), /$\{segment}
        - id: notification-service-docs
          uri: http://notification-service:8084
          predicates:
            - Path=/notification-service/v3/api-docs
          filters:
            - RewritePath=/notification-service/(?<segment>.*), /$\{segment}
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods: "*"
            allowedHeaders: "*"

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always

springdoc:
  swagger-ui:
    urls:
      - name: Order Service
        url: /order-service/v3/api-docs
      - name: Inventory Service
        url: /inventory-service/v3/api-docs
      - name: Notification Service
        url: /notification-service/v3/api-docs
